PUID=1000
PGID=1000
TZ=Europe/Zagreb

SONARR_CANARY_API_KEY=
SONARR_CANARY_WEBHOOK_TOKEN=
RADARR_CANARY_API_KEY=
RADARR_CANARY_WEBHOOK_TOKEN=

TITLOVI_USERNAME=
TITLOVI_PASSWORD=
OPENSUBTITLES_API_KEY=
OPENSUBTITLES_USERNAME=
OPENSUBTITLES_PASSWORD=
